/* J'enleve toutes bordures naturelles */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
    width: 100vw;
    height: 100vh;
}

header {
    background-image: url(/public/assets/img/waves2_header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.cardHeader {
    background: rgba(0, 0, 34, 0.5);
    color: white;
    justify-content: center;
    width: 70%;
    height: ;
}

.cardHeader h1 {
    font-size: 40px;
    font-weight: bold;
}

.cardHeader h2 {
    font-size: 25px;
}

.cardHeader .btn {
    background: #000022;
    border-radius: 15px;
}

.cardHeader button a {
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
}

.nav-mobil {
    height: 100px;
    position: fixed;
    /* 50% je me fixe à la moitié de l'écran
    -65px Moins la moitié de ma nav donc son milieu */
    margin: -65px 0px 0 20px;
    top: 15%;
    right: 0px;
}


.offcanvas-body {
    background: #000022;
}

.navbar-toggler {
    background-color: rgba(0, 0, 34);
}

.cv {
    background-color: #EFF1F3;
}

.xp {
    background-color: #EFF1F3;
}

.cv h2 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

.propos,
.skills,
.speak,
.objectif {
    background-color: rgba(0, 0, 34, 0.2);
    position: relative;
}

.cv img {
    position: absolute;
    top: -2rem;
    left: 1rem;
    width: 20px;
    height: 20px;

}